{% extends 'base.html.twig' %}

{% block contenu %}

{% for post in topic.posts %}

        <ul id ="listMethod" class="uk-list uk-list-divider">
            <li >{{post.text|raw}} 
            <a id="supprButton" class="uk-button-small uk-button-danger" href ="{{path('post_delete', {'id':post.id}) }}"> Supprimer </a>
            <a id="editButton" class="uk-button-small uk-button-primary" href="{{path('add_post', {'topic_id':topic.id}) }}"> Répondre </li></a> 
            <li id="italic">crée le {{post.formattedDate('m-d-Y') }} à {{post.formattedDate('H:i:s') }}</li>
        </ul>

{% endfor %}

{% endblock %}